{% extends "bankey_account/account.html" %}

{% block account_content %}

<div class="statement">
    <div class="transaction">
        <table>
            <thead>
                <tr>
                    <th>Reference</th>
                    <th>Amount</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="statement-body">
                {% for transaction in page_obj %}
                <tr>
                    <td>{{ transaction.reference }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.sender }}</td>
                    <td>{{ transaction.receiver }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button id="load-more" data-card="{{ card.card_number }}">
            Load more
        </button>
    </div>
</div>

<script src="{% static 'js/statement.js' %}"></script>

{% endblock %}
