{% extends "base.html" %}
{% block content %}
<body>
<section class="dashboard-container">
    <div class="row">
        <div class="col">
            <button class="debit-button" id="debit-button">

            </button>
        </div>
        <div class="col">
            <h1 class="dashboard-title">Bankey</h1>
            <p></p>
        </div>

    </div>
    <div class="dashboard-image-container">
    </div>
    <div class="dashboard-text-space">

    </div>
    <div class="dashboard-image-container">
    </div>

    <div class="dashboard-text-space" >
    </div>

</section>

</body>
{% endblock %}
