{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="dashboard-container">
    <div class="hero-grid">
        <div class="hero-card">
            <a href="{% if user.is_authenticated %}{% url 'bankey_account:account' %}{% else %}{% url 'dashboard:signup' %}{% endif %}"
               class="cta-card">

                <div class="cta-glass"></div>
                <div class="cta-shine"></div>

                <h3 class="cta-title">Open an Account</h3>
                <p class="cta-text">Join our thousands of clients and start your journey</p>
            </a>
        </div>


        <div class="hero-copy">
            <h1 class="dashboard-title">Bankey</h1>
            <h2>Open up a world of easy finance.</h2>
            <p>
                With a Bankey account you can forget about the complexity
                of traditional banking and just focus on your real, practical needs.
                For business and for personal use we have a variety of
                <a href="#offers-section">offers</a> tailored for you.
            </p>
        </div>

    </div>

    <div class="offers-strip" id="offers-section">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eos impedit ipsum quas! A, adipisci
            aperiam architecto asperiores blanditiis consequatur corporis dicta dolor, eos, maiores mollitia neque nobis
            obcaecati quia?</p>
    </div>

    <div class="hero-image">
        <img src="{% static 'images/' %}" alt="">
    </div>

</section>

{% endblock %}
