{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Bankey | Online Banking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"
          content="A banking app that offers strong returns and financial safety for all its clients. With every account opened you grant us the privilege of safeguarding and improving your life as a stakeholder.">


    <!--    Icons-->
    <link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %}" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}"/>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}"/>
    <meta name="apple-mobile-web-app-title" content="Bankey"/>
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}"/>

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Google+Sans+Code:wght@300&display=swap"
          rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body class="vh-100">

<!-- Nav -->
<!-- NAVBAR -->
<nav class="custom-navbar">
    <div class="nav-left">
        <img class="logo" src="{% static 'images/bankey-logo.png' %}" alt="Bankey Logo"/>
    </div>
    <!-- Hamburger (mobile only) -->
    <button id="nav-toggle" class="hamburger">
        <span></span><span></span><span></span>
    </button>

    <ul class="nav-links" id="nav-menu">
        <li><a class="pill-btn" href="{% url 'dashboard:dashboard' %}">Home</a></li>

        {% if user.is_authenticated %}
        <li><a class="pill-btn" href="{% url 'bankey_account:account' %}">My Account</a></li>
        <li><a class="pill-btn" href="{% url 'dashboard:logout' %}">Logout</a></li>
        {% else %}
        <li><a class="pill-btn" href="{% url 'dashboard:login' %}">Login</a></li>
        <li><a class="pill-btn" href="{% url 'dashboard:signup' %}">Sign Up</a></li>
        {% endif %}
    </ul>
</nav>
{% if messages %}
<div class="django-messages">
    {% for message in messages %}
    <div class="msg {{ message.tags }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}


{% block content %}
<!-- Content Goes here -->
{% endblock %}

<!-- Footer -->
<footer class="footer">
    <div class="footer-inner">
        <a href="https://www.linkedin.com/in/rafael-horwood-sanchez-291914224/" class="pill-btn footer-btn">LinkedIn</a>
        <a href="https://github.com/RH1945" class="pill-btn footer-btn">GitHub</a>
            <a href="https://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:2px;width:88px;height:31px"
                     src="https://jigsaw.w3.org/css-validator/images/vcss"
                     alt="Valid CSS!"/>
            </a>
    </div>

</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
<script src="{% static 'js/statement.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

{% block extras %}
{% endblock %}
{% block extra_modals %}
{% endblock %}

</body>
</html>